# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Makefiles del Eclipse
*.mk
*.d
Debug/
FileSystem/Testdisk/
FileSystem/log/

# Settings
.settings
/.settings

# Files
*.log

/Nivel/logvalgrind.txt

