Nombre=Nivel3
Caja1=[Flores,F,3,15,5]
Caja2=[Panchos,P,2,6,7]
Caja3=[Caramelos,C,7,1,2]
Caja4=[Gaseosas,G,9,7,9]
Caja5=[Chocolate,H,2,25,15]
Caja6=[Hongos,O,1,33,13]
Plataforma=127.0.0.1:5000
TiempoChequeoDeadlock=10000
Recovery=1
Enemigos=4
Sleep_Enemigos=340000
algoritmo=RR
quantum=4
retardo=20000